<%= stylesheet_link_tag 'home'%>


<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <%= image_tag 'logo.png'%>
  <br></br>
  <%= image_tag 'IMG_3573.png',:size => '350x300' %>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Tsukutta!とは作った料理を記録し、簡単に検索できるサービスです。</h3>
  <p>仕事帰りに今日の夕飯は何を作ろうと頭を悩ませていませんか？自分が以前作った料理なら新しい料理を作るよりもずっと楽です。料理を作った時に記録をし、次回検索できるようにしましょう！</p>
  <%= link_to "新規登録（無料）はこちら", signup_path, class: "glyphicon glyphicon-search" %>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">Tsukutta！でできること</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag 'bowl(1).png'%>
      <p>作った料理を画像や作り方、調理時間を保存できます</p>
    </div>
    <div class="col-sm-4"> 
      <%= image_tag 'smartphone.png'%><br></br>
      <p>過去の料理記録を調理時間や料理の種類から検索できます。</p>
    </div>
    <div class="col-sm-4"> 
      <%= image_tag 'network.png'%><br></br>
    <p>他ユーザーに料理記録を共有・コメントなどができます。</p>
    </div>
  </div>
</div>
</div>
