<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
     
     <!--タブ・メニュー-->
     <br>
     <ul class="nav nav-tabs">
       <li class="active">
         <a href="#favorite_posts" data-toggle="tab">
           <strong>
             いいね！した投稿
             
           </strong>
         </a>
       </li>
       <li>
        <a href="#my_posts" data-toggle="tab">
          <strong>
            投稿一覧
            
          </strong>
        </a>
      </li>
     </ul>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3>投稿 (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>

