<!-- 追加 -->
<% if flash[:error_messages] %>
    <div class="alert alert-danger">
        <ul>
            <% flash[:error_messages].each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<!-- 追加 -->
<%= render 'shared/error_messages' %>


<%= form_for post do |f| %>
    

    
    <div class="form-group">
        <p>投稿者:<%= #不明なコード%></p>
    </div>
    
    
    
    
    
    <div class="form-group">
        <%= f.label :title, '投稿タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
        <small id="title-tip" class="form-text text-muted">
            タイトルを入力してください。
        </small>
    </div>
    <div class="form-group">
        <%= f.label :content, '投稿内容' %>
        <%= f.text_area :content, class: 'form-control', rows:10 %>
        <small id="content-tip" class="form-text text-muted">
            投稿内容を入力してください。 
        </small>
    </div>
    
    <div class="form-group">
        <%= f.label :content, '参考にしたレシピ' %>
        <%= f.text_area :content, class: 'form-control' %>
        <small id="content-tip" class="form-text text-muted">
            参考にしたレシピのサイトURLを入力してください。 
        </small>
    </div>
    
    <div class="form-group">
    <span>タグ</span>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class="form-check">
        <%= tag.label class: 'form-check-label' do %>
          <%= tag.check_box class: 'form-check-input' %>
          <%= tag.text %>
        <% end %>
      </div>
    <% end %>
  </div>
    
    
    <div class="field">
    <%= f.label :つくったごはんの写真 %>
    <%= f.file_field :picture, id: :post_picture %>
      </div>
    <br></br>
    <%= f.submit '投稿', class: 'btn btn-info btn-block' %>
    <small id="submit-tip" class="form-text text-muted">
        投稿する前に投稿内容を見直してください!
    </small>
    <%= f.hidden_field :user_id, value: current_user.id %>
<% end %>