
<%= stylesheet_link_tag "base" %>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <%= link_to image_tag('logo.png',{:size => '180x50', :border =>'0', :alt => 'ホーム'}), root_path %>
    </div>
    
    
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <ul><%= link_to"投稿", posts_path %></ul>
          <ul class="nav nav-pills">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "プロフィ－ル", current_user %></li>
              <li><%= link_to "設定", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </ul>
          
            
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
          <%= link_to "新規登録", signup_path %>
        <% end %>
    
        
        
      </ul>
    </div>
  </div>
</nav>

<!--<div class="topnav">
    <%= header_link_item('ホーム', root_path) %>
        <%= header_link_item('投稿一覧', posts_path) %>
       <%= link_to "Tsukutta!とは",   about_path %>
      
        <% if logged_in? %>
          <li><%= link_to "ユーザー一覧", '#' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "マイページ", current_user %></li>
              <li><%= link_to "設定", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
    
  </div>
  --!>

