<!DOCTYPE html>
<html>
  <head>
    <title>Watashigohan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  
  <body>
    <!-- 追加 -->
    <%= render 'application/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
  
        <%= yield %>
      <%= render 'application/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
